*{
 margin:0; 
 padding:0;
}

body
{
  background: #296d27;  
}

header
{
  overflow:hidden;
  margin-bottom: px;
  background:#000000;
  width:100%;

}
header .titulo
{
  color:white;
  font-size:50px;
  line-height:100px;
}
header nav a
{
  color:white;
  padding:8px 25px;
  line-height:normal;
  display:inline-block;
  text-decoration:none;
  font-size:20px;
  border-radius:5px;
  box-align: center;
}
header nav a:hover
{
  background-color: #66001f;
  -webkit-transition:all 500ms ;
  -o-transition:all 500ms ;
}
.todo
{
  width:90%;
  max-width:1000px;
  margin:auto;
  overflow:hidden;
  color:white;
}