*{
 margin:0; 
 padding:0;
}

body
{
  background: #787878;  
  font-size: 20px;
}

header
{
  overflow:hidden;
  margin-bottom: px;
  background-color:#414040;
  width:100%;
  box-shadow: rgb(0, 0, 0) 2px 0px 10px;
  max-width: 1500px;
  padding:10px;
  text-align:center;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 15px;
}
header .titulo
{
  color:white;
  font-size:50px;
  line-height:100px;
}
header nav a
{
  color:white;
  padding:8px 25px;
  line-height:normal;
  display:inline-block;
  text-decoration:none;
  font-size:30¡¡20px;
  border-radius:5px;
  box-align: center;
}
header nav a:hover
{
  background-color: #66001f;
  -webkit-transition:all 500ms ;
  -o-transition:all 500ms ;
}
.todo
{
  width:90%;
  max-width:1000px;
  margin:auto;
  overflow:hidden;
  color:white;
}

body h2, p{
  padding-bottom: 15px;
  padding-top: 5px;
}

hr{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
table{
  border:1px solid black;
border-collapse: collapse;
  margin: 0px;
}
td{
  border:1px solid black;
}
table.ancha{ 
text-align: center;
margin: auto

}
table.ancha h4{
  padding-bottom: 7px;
}
table.ancha td{
  padding: 0px 20px 0px 20px;

}